<header id="main-header">
    <Main>
        <h1>STP</h1>
        <ul>
            <li><a href="/shop" id="item-menu">shop</a></li>
            <li><a href="/admin/upload" id="item-menu">New Upload Product</a></li>
            <li><a href="/order" id="item-menu">Manger Orders</a></li>
            <li><a href="/logout" id="item-menu">logout</a></li>
        </ul>
    </Main>
</header>