<header id="main-header">
    <Main>
        <h1>STP</h1>
        <ul>
            <li><a href="/shop" id="item-menu">shop</a></li>
            <li><a href="/cart" id="item-menu">cart
                <span class="cartvalue"
                id="cartval">0</span></a></li>
            <li><a href="/order"id="item-menu">order</a></li>
            <li><a href="/signup"id="item-menu">signup</a></li>
            <li><a href="/logout" id="item-menu">logout</a></li>
        </ul>
    </Main>
</header>